# Frontend Local Dev Port
VITE_PORT=5173

# Backend Target URL for Vite Dev Server Proxy
# Local dev: http://localhost:8080
# Sandbox Pro: https://6a857c97f273188e4d6c4e1d-api-capstone.myanatomy.ai
VITE_BACKEND_URL=http://localhost:8080

# Client API Base URL
# In local development: use '/api' to leverage Vite's reverse proxy
# In Sandbox Pro / Production: use your deployed Node backend (e.g. https://6a857c97f273188e4d6c4e1d-api-capstone.myanatomy.ai/api)
VITE_API_URL=/api

