<!DOCTYPE html>
<html>
<head>
    <title>Plant Disease Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Plant Disease Classification</h1>

    <div id="drag-drop-area" class="upload-box">
        <div id="drag-drop-text">Drag-Drop</div>
        <input type="file" name="image" id="file-upload" accept="image/*" hidden>
        <img id="preview-image" src="#" alt="Image preview" hidden/>
    </div>

    <div id="prediction"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>